.user-container {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.user-image {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: white;
}

.user-name {
  font-size: 2.3rem;
  /* 1rem = root font size
Root font size comes from html or * selector 
since you set 1rem = 20px
So:
2rem = 2 × 20px = 40px
*/
}

.user-desc {
  font-size: 1.5rem;
  color: blueviolet;
}