.user-container {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

#user-image {
  width: 90px;
  border-radius: 50px;
  background-color: burlywood;
  padding: 10px;
}

#user-desc {}