.background {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  object-fit: cover;
  /* image will be behind the text */
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 500ms ease-in-out;
}