.counter-container {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1.5rem;
  box-shadow: 0 1rem 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  align-items: center;
}

#counter-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#counter-btn:hover {
  background-color: #0056b3;
}